<a href="https://colab.research.google.com/github/Ajayprr/All-about-hackeerank/blob/master/scikit_pipe_line_execution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
import numpy as np

In [0]:
data=pd.read_excel("/content/nifty50stocks1.xlsx")

In [0]:
data

         Symbol      Open  ...  30 Days % Change  target
0           TCS   2079.50  ...              0.00       1
1    HINDUNILVR   2049.35  ...              7.10       1
2     NESTLEIND  15300.00  ...              5.69       1
3         TECHM    796.95  ...              5.89       1
4         WIPRO    236.50  ...             -4.26       1
..          ...       ...  ...               ...     ...
144        BHEL     42.70  ...             -8.39       0
145   LICHSGFIN    441.90  ...             -5.93       0
146       SUNTV    471.95  ...              0.10       0
147    GMRINFRA     22.65  ...              0.48       1
148        MFSL    501.60  ...            -19.13       0

[149 rows x 14 columns]

In [0]:
from sklearn.preprocessing import LabelEncoder
lab=LabelEncoder()

In [0]:
data['Symbol']=lab.fit_transform(data['Symbol'])

In [0]:
data.head()

   Symbol      Open      High  ...  365 Days % Change  30 Days % Change  target
0     134   2079.50   2180.70  ...               7.62              0.00       1
1      64   2049.35   2096.00  ...              17.62              7.10       1
2     102  15300.00  15661.75  ...              35.85              5.69       1
3     135    796.95    812.00  ...              10.26              5.89       1
4     146    236.50    239.35  ...             -35.77             -4.26       1

[5 rows x 14 columns]

In [0]:
data.describe()

           Symbol          Open  ...  30 Days % Change      target
count  149.000000    149.000000  ...        149.000000  149.000000
mean    74.000000   1994.268792  ...         -2.615436    0.570470
std     43.156691   6675.061273  ...          8.474629    0.496679
min      0.000000      5.350000  ...        -19.130000    0.000000
25%     37.000000    187.650000  ...         -8.390000    0.000000
50%     74.000000    493.400000  ...         -2.310000    1.000000
75%    111.000000   1329.000000  ...          3.280000    1.000000
max    148.000000  69789.000000  ...         27.890000    1.000000

[8 rows x 14 columns]

In [0]:
data

     Symbol      Open      High  ...  365 Days % Change  30 Days % Change  target
0       134   2079.50   2180.70  ...               7.62              0.00       1
1        64   2049.35   2096.00  ...              17.62              7.10       1
2       102  15300.00  15661.75  ...              35.85              5.69       1
3       135    796.95    812.00  ...              10.26              5.89       1
4       146    236.50    239.35  ...             -35.77             -4.26       1
..      ...       ...       ...  ...                ...               ...     ...
144      24     42.70     43.55  ...             -38.41             -8.39       0
145      84    441.90    463.95  ...              -9.50             -5.93       0
146     129    471.95    471.95  ...             -17.00              0.10       0
147      51     22.65     23.25  ...              38.16              0.48       1
148      93    501.60    511.00  ...              10.13            -19.13       0

[149 rows x 14 columns]

In [0]:
data.dtypes

Symbol                   int64
Open                   float64
High                   float64
Low                    float64
Last Traded Price      float64
Change                 float64
%Change                float64
Traded Volume(lacs)    float64
Traded Value(crs)      float64
52 Week High           float64
52 Week Low            float64
365 Days % Change      float64
30 Days % Change       float64
target                   int64
dtype: object

In [0]:
from sklearn import preprocessing
label = preprocessing.MinMaxScaler()
x = label.fit_transform(data)
cols=data.columns
x= pd.DataFrame(x,columns=cols)

In [0]:
x

       Symbol      Open      High  ...  365 Days % Change  30 Days % Change  target
0    0.905405  0.029723  0.030943  ...           0.435694          0.406848     1.0
1    0.432432  0.029291  0.029738  ...           0.484008          0.557848     1.0
2    0.689189  0.219172  0.222723  ...           0.572084          0.527860     1.0
3    0.912162  0.011344  0.011472  ...           0.448449          0.532114     1.0
4    0.986486  0.003312  0.003326  ...           0.226060          0.316248     1.0
..        ...       ...       ...  ...                ...               ...     ...
144  0.162162  0.000535  0.000541  ...           0.213306          0.228413     0.0
145  0.567568  0.006256  0.006521  ...           0.352981          0.280732     0.0
146  0.871622  0.006686  0.006635  ...           0.316746          0.408975     0.0
147  0.344595  0.000248  0.000252  ...           0.583245          0.417057     1.0
148  0.628378  0.007111  0.007190  ...           0.447821          0.000000     0.0

[149 rows x 14 columns]

In [0]:
Y=x['target']

In [0]:
X=x.drop(['target'],axis=1)

In [0]:
X

       Symbol      Open  ...  365 Days % Change  30 Days % Change
0    0.905405  0.029723  ...           0.435694          0.406848
1    0.432432  0.029291  ...           0.484008          0.557848
2    0.689189  0.219172  ...           0.572084          0.527860
3    0.912162  0.011344  ...           0.448449          0.532114
4    0.986486  0.003312  ...           0.226060          0.316248
..        ...       ...  ...                ...               ...
144  0.162162  0.000535  ...           0.213306          0.228413
145  0.567568  0.006256  ...           0.352981          0.280732
146  0.871622  0.006686  ...           0.316746          0.408975
147  0.344595  0.000248  ...           0.583245          0.417057
148  0.628378  0.007111  ...           0.447821          0.000000

[149 rows x 13 columns]

In [0]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2)

In [0]:
from sklearn import svm
svm_model=svm.SVC(kernel='linear')

In [0]:
svm_model

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [0]:
md=svm_model.fit(x_train,y_train)

In [0]:
y_test_pred=svm_model.predict(x_test)

In [0]:
from sklearn import metrics

In [0]:
metrics.accuracy_score(y_test_pred,y_test)

0.7666666666666667

In [0]:
y_test.value_counts(normalize=True)

1.0    0.666667
0.0    0.333333
Name: target, dtype: float64

In [0]:
svm_model.coef_

array([[ 0.29264217, -0.03527136, -0.02882478, -0.04120297, -0.03939235,
        -0.2997934 ,  0.30673891, -0.1102254 ,  0.99565835, -0.10798232,
        -0.10400606,  2.67864894,  3.87564067]])

In [0]:
svm_model.decision_function

<bound method BaseSVC.decision_function of SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)>

In [0]:
hyperplanedist=svm_model.decision_function(x_test)
hyperplanedist

array([ 0.84455374, -0.26388941,  1.39683405,  1.7193093 ,  1.34786397,
        0.32418052,  0.26890592,  0.70961162,  0.9548    , -1.21217296,
        1.49009129, -1.43597311, -0.09940362, -0.57320759, -0.83137463,
       -0.53101024,  0.27127545,  0.59590667,  0.82569533, -1.18538688,
        0.528789  , -0.93449253,  1.36010513, -0.23558403, -0.19390321,
        1.32978422,  1.60283902, -0.43384212,  0.37932545, -1.932666  ])

In [0]:
comp=pd.DataFrame()
comp['pred']=y_test_pred
comp['dist']=hyperplanedist
comp.head()

   pred      dist
0   1.0  0.844554
1   0.0 -0.263889
2   1.0  1.396834
3   1.0  1.719309
4   1.0  1.347864

In [0]:
from sklearn.model_selection import GridSearchCV

In [0]:
from sklearn import svm
param_grid = {'C': [0.001, 0.01, 0.1, 1, 10], 'gamma' :[0.001, 0.01, 0.1, 1] }
grid_search = GridSearchCV(svm.SVC(kernel='linear'), param_grid, cv=5)
grid_search.fit(x_train, y_train)
grid_search.best_params_

{'C': 10, 'gamma': 0.001}

In [0]:
finalmodel=grid_search.best_estimator_

In [0]:
y_pred_model=finalmodel.predict(x_test)

In [0]:
metrics.accuracy_score(y_pred_model,y_test)

0.7333333333333333

In [0]:

from sklearn.pipeline import FeatureUnion
from sklearn.decomposition import PCA
from sklearn.decomposition import KernelPCA
estimators = [('linear_pca', PCA()), ('kernel_pca', KernelPCA())]
combined = FeatureUnion(estimators)
combined

FeatureUnion(n_jobs=None,
             transformer_list=[('linear_pca',
                                PCA(copy=True, iterated_power='auto',
                                    n_components=None, random_state=None,
                                    svd_solver='auto', tol=0.0, whiten=False)),
                               ('kernel_pca',
                                KernelPCA(alpha=1.0, coef0=1, copy_X=True,
                                          degree=3, eigen_solver='auto',
                                          fit_inverse_transform=False,
                                          gamma=None, kernel='linear',
                                          kernel_params=None, max_iter=None,
                                          n_components=None, n_jobs=None,
                                          random_state=None,
                                          remove_zero_eig=False, tol=0))],
             transformer_weights=None, verbose=False)

In [0]:

from sklearn.pipeline import Pipeline

Pipeline?

In [0]:
from sklearn.svm import SVC
from sklearn.decomposition import PCA
estimators = [('reduce_dim', PCA(n_components=2)), ('clf', SVC())]
pipe = Pipeline(estimators)
pipe

Pipeline(memory=None,
         steps=[('reduce_dim',
                 PCA(copy=True, iterated_power='auto', n_components=2,
                     random_state=None, svd_solver='auto', tol=0.0,
                     whiten=False)),
                ('clf',
                 SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None,
                     coef0=0.0, decision_function_shape='ovr', degree=3,
                     gamma='scale', kernel='rbf', max_iter=-1,
                     probability=False, random_state=None, shrinking=True,
                     tol=0.001, verbose=False))],
         verbose=False)

In [0]:
pipe.fit(x_train,y_train).score(x_train,y_train)

0.7899159663865546

In [0]:
from sklearn.pipeline import make_pipeline
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import Binarizer
make_pipeline(Binarizer(), MultinomialNB())

Pipeline(memory=None,
         steps=[('binarizer', Binarizer(copy=True, threshold=0.0)),
                ('multinomialnb',
                 MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))],
         verbose=False)

In [0]:
pipe.steps[0]

('reduce_dim',
 PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
     svd_solver='auto', tol=0.0, whiten=False))

In [0]:
pipe.named_steps['reduce_dim']

PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [0]:
pipe.set_params(clf__C=10)

Pipeline(memory=None,
         steps=[('reduce_dim',
                 PCA(copy=True, iterated_power='auto', n_components=2,
                     random_state=None, svd_solver='auto', tol=0.0,
                     whiten=False)),
                ('clf',
                 SVC(C=10, break_ties=False, cache_size=200, class_weight=None,
                     coef0=0.0, decision_function_shape='ovr', degree=3,
                     gamma='scale', kernel='rbf', max_iter=-1,
                     probability=False, random_state=None, shrinking=True,
                     tol=0.001, verbose=False))],
         verbose=False)

In [0]:
from sklearn.model_selection import GridSearchCV
params = dict(reduce_dim__n_components=[2, 5, 10],
              clf__C=[0.1, 10, 100])
grid_search = GridSearchCV(pipe, param_grid=params)

In [0]:
from sklearn.linear_model import LogisticRegression
params = dict(reduce_dim=[None, PCA(5), PCA(10)],
              clf=[SVC(), LogisticRegression()],
              clf__C=[0.1, 10, 100])
grid_search = GridSearchCV(pipe, param_grid=params)

In [0]:
from sklearn.pipeline import FeatureUnion
from sklearn.decomposition import PCA
from sklearn.decomposition import KernelPCA
estimators = [('linear_pca', PCA()), ('kernel_pca', KernelPCA())]
combined = FeatureUnion(estimators)
combined

FeatureUnion(n_jobs=None,
             transformer_list=[('linear_pca',
                                PCA(copy=True, iterated_power='auto',
                                    n_components=None, random_state=None,
                                    svd_solver='auto', tol=0.0, whiten=False)),
                               ('kernel_pca',
                                KernelPCA(alpha=1.0, coef0=1, copy_X=True,
                                          degree=3, eigen_solver='auto',
                                          fit_inverse_transform=False,
                                          gamma=None, kernel='linear',
                                          kernel_params=None, max_iter=None,
                                          n_components=None, n_jobs=None,
                                          random_state=None,
                                          remove_zero_eig=False, tol=0))],
             transformer_weights=None, verbose=False)

In [0]:
combined.fit_transform(X).shape

(149, 26)

In [0]:

combined.set_params(kernel_pca=None)

FeatureUnion(n_jobs=None,
             transformer_list=[('linear_pca',
                                PCA(copy=True, iterated_power='auto',
                                    n_components=None, random_state=None,
                                    svd_solver='auto', tol=0.0, whiten=False)),
                               ('kernel_pca', None)],
             transformer_weights=None, verbose=False)

In [0]:

combined.fit_transform(X).shape

/usr/local/lib/python3.6/dist-packages/sklearn/pipeline.py:857: FutureWarning: Using None as a transformer is deprecated in version 0.22 and will be removed in version 0.24. Please use 'drop' instead.
  FutureWarning)

(149, 13)